<h3 class="m-5 text-center fs-5 fw-bolder opacity-75">
    Üdvözöljük a Háziállat Felügyelő oldalán!
</h3>
<div
    class="row m-4 align-items-center d-flex justify-content-center text-center"
>
    <div>
        Indulásként az
        <span class="fw-bolder fst-italic">Áttekintés</span>
        oldalra fogjuk önt navigálni, ahol a
        <span class="fw-bolder blue">Háziállat hozzáadása</span>
        gombra kattintva létrehozhatja háziállatát. Később itt láthatja a
        háziállataival kapcsolatos teendőket és módosíthatja bizonyos adatait.
    </div>
</div>
<div
    class="row m-4 align-items-center d-flex justify-content-center text-center"
>
    <div>
        Az
        <span class="fw-bolder fst-italic">Oltási könyv</span>
        menüpontban megtekintheti majd állatorvosa által rögzített oltásokat.
    </div>
</div>
<div
    class="row m-4 align-items-center d-flex justify-content-center text-center"
>
    <div>
        Az
        <span class="fw-bolder fst-italic">Egészség</span>
        menüpontban figyelheti meg az állata egészségét. A háziállatainak
        rögzíthet adatokat, például allergiát, gyógyszerhasználatot,
        protokollokat és orvosi időpontokat.
    </div>
</div>
<div
    class="row m-4 align-items-center d-flex justify-content-center text-center"
>
    <div>
        A
        <span class="fw-bolder fst-italic">Keresés</span>
        menüpontban kereshet meg más háziállatokat, tekintheti meg profiljukat,
        és kereshet állatorvosokat is, akikhez fel tud iratkozni.
    </div>
</div>
<div
    class="row m-4 align-items-center d-flex justify-content-center text-center"
>
    <div>
        A
        <span class="fw-bolder fst-italic"
            ><mat-icon>account_circle</mat-icon></span
        >
        ikonnál megtekintheti a profilját, itt kezelheti személyes adatait és
        kérelmeit.
    </div>
</div>
<div
    class="row m-4 align-items-center d-flex justify-content-center text-center"
>
    <button (click)="closeDialog()" mat-raised-button color="primary">
        Rendben
    </button>
</div>
