.mat-dialog-title-custom {
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0.4;
    line-height: 1.2;
}

.mat-dialog-content-custom {
    font-size: 1.15rem;
    color: black;
    line-height: 1.2;
}
