h3 {
    font-size: 2rem;
    font-weight: 600;
    opacity: 0.8;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.8;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
    opacity: 0.5;
}
