<div *ngIf="loaded; else reqLoader">
    <h3 class="text-center m-5 opacity-75">Profil</h3>
    <div class="row my-4 mx-5">
        <div class="col">
            <mat-form-field [formGroup]="profileForm" class="email">
                <mat-label>E-mail</mat-label>
                <input matInput class="w-100" formControlName="email" />
                <mat-error
                    *ngIf="profileForm.get('email').hasError('invalidEmail')"
                >
                    Helytelen e-mail cím formátum!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field [formGroup]="profileForm">
                <mat-label>Név</mat-label>
                <input matInput formControlName="name" />
                <mat-error
                    *ngIf="profileForm.get('name').hasError('invalidName')"
                >
                    Helytelen név
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field [formGroup]="profileForm">
                <mat-label>Mobil</mat-label>
                <span class="mx-2 opacity-50 fw-bolder fs-6" matPrefix
                    >+36</span
                >
                <input
                    type="sumbit"
                    matInput
                    class="mobile-input fs-6 pb-3"
                    formControlName="mobile"
                />
                <mat-error
                    *ngIf="
                        profileForm.get('mobile').hasError('invalidPhoneNumber')
                    "
                >
                    Helytelen formátum
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col my-2">
            <button mat-raised-button color="accent" (click)="updateUser()">
                Profiladatok módosítása
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h3 class="text-center m-5 opacity-75">Jelszó módosítása</h3>
    <div class="row my-4 mx-5">
        <div class="col">
            <mat-form-field [formGroup]="updatePasswordForm">
                <mat-label>Régi jelszó</mat-label>
                <input type="password" matInput formControlName="oldPassword" />
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field [formGroup]="updatePasswordForm">
                <mat-label>Új jelszó</mat-label>
                <input type="password" matInput formControlName="newPassword" />
                <mat-error
                    *ngIf="
                        updatePasswordForm
                            .get('newPassword')
                            .hasError('minlength')
                    "
                >
                    A jelszónak legalább 8 karakter hosszúnak kell lennie!
                </mat-error>
                <mat-error
                    *ngIf="
                        updatePasswordForm
                            .get('newPassword')
                            .hasError('invalidPassword')
                    "
                >
                    A jelszónak tartalmaznia kell legalább egy számot, legalább
                    egy nagybetűs és egy kisbetűs karaktert!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field [formGroup]="updatePasswordForm">
                <mat-label>Új jelszó mégegyszer</mat-label>
                <input
                    type="password"
                    matInput
                    formControlName="newPasswordAgain"
                />
                <mat-error
                    *ngIf="
                        updatePasswordForm
                            .get('newPasswordAgain')
                            .hasError('passwordMismatch')
                    "
                >
                    Az új jelszavaknak egyezniük kell!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col my-2">
            <button
                mat-raised-button
                color="accent"
                type="submit"
                (click)="updatePassword()"
            >
                Jelszó módosítása
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h3 class="text-center m-5 opacity-75" *ngIf="userData.isVet">Kliensek</h3>
    <h3 class="text-center m-5 opacity-75" *ngIf="!userData.isVet">
        Állatorvos
    </h3>
    <ng-container *ngIf="relLoaded; else clientLoader">
        <ng-container *ngIf="relatedUsers.length > 0; else noClient">
            <div>
                <div class="row my-2 mx-5 fst-italic fw-bold fs-6 opacity-50">
                    <div class="col-md-2">E-mail</div>
                    <div class="col">Név</div>
                    <div class="col">Mobil</div>
                    <div class="col"></div>
                </div>
                <div class="row my-2 mx-5" *ngFor="let usr of relatedUsers">
                    <div class="col-md-2">{{ usr.email }}</div>
                    <div class="col">{{ usr.name ?? "nincs megadva" }}</div>
                    <div class="col">
                        {{ usr.mobile ? "+36" + usr.mobile : "nincs megadva" }}
                    </div>
                    <div class="col fs-6 pb-3">
                        <button
                            mat-button
                            color="warn"
                            (click)="unassignUser(usr.id)"
                        >
                            <mat-icon>cancel</mat-icon>
                            {{
                                userData.isVet
                                    ? "Leiratkoztatás"
                                    : "Leiratkozás"
                            }}
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-container>
        <ng-template #noClient>
            <div
                *ngIf="userData.isVet"
                class="row my-4 mx-5 fst-italic opacity-25 fw-bold justify-content-center align-items-center d-flex"
            >
                Nincs kliens felvéve.
            </div>
            <div
                *ngIf="!userData.isVet"
                class="row my-4 mx-5 fst-italic opacity-25 fw-bold justify-content-center align-items-center d-flex"
            >
                Nincs állatorvos regisztrálva.
            </div>
        </ng-template>
    </ng-container>
    <ng-template #clientLoader>
        <div class="align-items-center justify-content-center d-flex m-5">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
    <mat-divider></mat-divider>
    <h3 class="text-center m-5 opacity-75">Jelentkezés</h3>
    <ng-container *ngIf="requestLoaded; else reqLoader">
        <ng-container *ngIf="requests.length > 0; else noRequests">
            <div class="mb-5">
                <div class="row my-2 mx-5 fst-italic fw-bold fs-6 opacity-50">
                    <div class="col-md-2">E-mail</div>
                    <div class="col">Név</div>
                    <div class="col">Mobil</div>
                    <div class="col-md-4">Üzenet</div>
                    <div class="col">Státusz</div>
                    <div class="col" *ngIf="userData.isVet"></div>
                    <div class="col"></div>
                </div>
                <div class="row my-2 mx-5" *ngFor="let req of requests">
                    <div class="col-md-2">{{ req.fromEmail }}</div>
                    <div class="col">{{ req.fromName ?? "nincs megadva" }}</div>
                    <div class="col">
                        {{ req.fromMobile ?? "nincs megadva" }}
                    </div>
                    <div class="col-md-4">
                        {{
                            req.message !== ""
                                ? req.message
                                : "nincs megjegyzés"
                        }}
                    </div>
                    <div class="col">Visszaigazolásra vár</div>
                    <div class="col fs-6 pb-3" *ngIf="userData.isVet">
                        <button
                            mat-button
                            color="primary"
                            (click)="approveRequest(req.reqId, req.ownerId)"
                        >
                            <mat-icon>task_alt</mat-icon>
                            Elfogadás
                        </button>
                    </div>
                    <div class="col fs-6 pb-3">
                        <button
                            mat-button
                            color="warn"
                            (click)="deleteRequest(req.reqId)"
                        >
                            <mat-icon>{{
                                userData.isVet ? "cancel" : "undo"
                            }}</mat-icon>
                            {{ userData.isVet ? "Elutasítás" : "Visszavonás" }}
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-container>
        <ng-template #noRequests>
            <div
                class="row my-4 mx-5 fst-italic opacity-25 fw-bold justify-content-center align-items-center d-flex"
            >
                Nincs függőben lévő kérelem.
            </div>
        </ng-template>
    </ng-container>
</div>
<ng-template #reqLoader>
    <div class="align-items-center justify-content-center d-flex m-5">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
