<ng-container *ngIf="userData && owners && owners.length > 0">
    <mat-form-field
        [formGroup]="selectUserPets"
        class="w-100"
        *ngIf="userData.data.isVet"
    >
        <mat-label>gazda kiválasztása</mat-label>
        <mat-select formControlName="owner">
            <mat-option *ngFor="let owner of owners" [value]="owner.uid">{{
                owner.display
            }}</mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
<div class="my-4 mx-4">
    <div class="row">
        <div class="col-md-2">
            <mat-card
                *ngFor="let pet of myPets; let i = index"
                [class.selected]="pet.id === selectedPetId"
                (click)="showData(pet.id); setWeight(pet)"
            >
                <mat-card-content>{{ pet.name }}</mat-card-content>
            </mat-card>
        </div>
        <div
            class="col-md-8 mt-3 ms-5 mb-5"
            *ngIf="this.petId.length > 0; else defaultTemplate"
        >
            <h4>Súly <mat-icon>fitness_center</mat-icon></h4>
            <ng-container *ngIf="petWeight < 1; else weightTemplate">
                <h3 class="mb-4 text-center">Nincs súly megadva</h3>
            </ng-container>
            <ng-template #weightTemplate>
                <div class="text-center mb-4 weight-desc">
                    <div class="mx-2 my-2">
                        Súly: <span>{{ petWeight + " kg" }}</span>
                    </div>
                    <div class="mx-4 my-4">
                        Meghatározás: <span>{{ "normál súly" }}</span>
                    </div>
                </div>
            </ng-template>
            <mat-divider></mat-divider>
            <h4>Allergia <mat-icon>spa</mat-icon></h4>
            <div class="d-flex justify-content-center align-items-center">
                <ng-container
                    *ngIf="allergies.length === 0; else allergiesTemplate"
                >
                    <h3 class="mb-4">Nincs ismert allergia</h3>
                </ng-container>
                <ng-template #allergiesTemplate>
                    <mat-chip-set
                        *ngFor="let allergy of allergies"
                        class="mb-4"
                    >
                        <mat-chip class="mx-2">
                            {{ allergy.allergyName }}
                            <button
                                matChipRemove
                                class="chip-cancel"
                                (click)="deleteCondition(allergy.id)"
                            >
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-set>
                </ng-template>
            </div>
            <mat-divider></mat-divider>
            <h4>Gyógyszerek <mat-icon>local_pharmacy</mat-icon></h4>
            <div class="row-cols-1 justify-content-center align-items-center">
                <ng-container
                    *ngIf="medicines.length === 0; else medicinesTemplate"
                >
                    <h3 class="mb-4 text-center">Nincs felvett gyógyszer</h3>
                </ng-container>
                <ng-template #medicinesTemplate>
                    <mat-expansion-panel
                        *ngFor="let medicine of medicines"
                        hideToggle
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ medicine.medicineName }}
                            </mat-panel-title>
                            <mat-panel-description class="timer">
                                {{
                                    "Következő adag: " +
                                        getNextDose(
                                            medicine.medicineStartDate,
                                            medicine.medicineEndDate,
                                            medicine.medicineFreq,
                                            medicine.medicineFreqUnit
                                        )
                                }}
                            </mat-panel-description>
                            <div class="fst-italic">
                                {{
                                    medicine.medicineFreq > 1
                                        ? medicine.medicineFreq +
                                          " " +
                                          medicine.medicineFreqUnit
                                        : medicine.medicineFreqUnit
                                }}
                            </div>
                            <div class="mx-5">
                                {{ medicine.medicineStartDate + "-tól" }}
                            </div>
                            <div>
                                {{ medicine.medicineEndDate + "-ig" }}
                            </div>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <div class="expansion-desc">
                                        {{
                                            medicine.medicineDesc.length > 0
                                                ? medicine.medicineDesc
                                                : "Nincs további leírás"
                                        }}
                                    </div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-end align-items-center"
                                >
                                    <button
                                        class="btn"
                                        (click)="deleteCondition(medicine.id)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </ng-template>
            </div>
            <mat-divider></mat-divider>
            <h4>Orvosi vizsgálatok <mat-icon>local_hospital</mat-icon></h4>
            <div class="row-cols-1 justify-content-center align-items-center">
                <ng-container
                    *ngIf="examinations.length === 0; else examinationsTemplate"
                >
                    <h3 class="mb-4 text-center">
                        Nincs orvosi vizsgálat rögzítve
                    </h3>
                </ng-container>
                <ng-template #examinationsTemplate>
                    <mat-expansion-panel
                        *ngFor="let exam of examinations"
                        hideToggle
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ exam.examinationName }}
                            </mat-panel-title>
                            <mat-panel-description class="timer">
                                {{ getNextExamination(exam.dueDate) }}
                            </mat-panel-description>
                            <div class="mx-5">
                                {{ "Vizsgálat időpontja: " + exam.dueDate }}
                            </div>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <div class="expansion-desc">
                                        {{
                                            exam.examinationDesc.length > 0
                                                ? exam.examinationDesc
                                                : "Nincs további leírás"
                                        }}
                                    </div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-end align-items-center"
                                >
                                    <button
                                        class="btn"
                                        (click)="deleteCondition(exam.id)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </ng-template>
            </div>
            <mat-divider></mat-divider>
            <h4>Protokollok <mat-icon>assignment</mat-icon></h4>
            <div class="row-cols-1 justify-content-center align-items-center">
                <ng-container
                    *ngIf="protocols.length === 0; else protocolTemplate"
                >
                    <h3 class="mb-4 text-center">Nincs protokoll rögzítve</h3>
                </ng-container>
                <ng-template #protocolTemplate>
                    <mat-expansion-panel
                        *ngFor="let protocol of protocols"
                        hideToggle
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ protocol.protocolName }}
                            </mat-panel-title>
                            <mat-panel-description class="timer">
                                {{
                                    getNextDose(
                                        protocol.protocolStartDate,
                                        "2100.01.01",
                                        protocol.protocolFreq,
                                        protocol.protocolFreqUnit
                                    )
                                }}
                            </mat-panel-description>
                            <div class="mx-5">
                                {{
                                    protocol.protocolFreq +
                                        " " +
                                        protocol.protocolFreqUnit
                                }}
                            </div>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-8">
                                    <div class="expansion-desc">
                                        {{
                                            protocol.protocolDesc.length > 0
                                                ? protocol.protocolDesc
                                                : "Nincs további leírás"
                                        }}
                                    </div>
                                </div>
                                <div
                                    class="col-4 d-flex justify-content-end align-items-center"
                                >
                                    <button
                                        class="btn"
                                        (click)="deleteCondition(protocol.id)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </ng-template>
            </div>
        </div>
        <ng-template #defaultTemplate>
            <ng-container *ngIf="userData">
                <div class="col-md-8 my-3 ms-5">
                    <p
                        class="text-center"
                        *ngIf="userData.data.isVet; else userTemplate"
                    >
                        Válasszon ki gazdát, majd a listából egy hozzá tartozó
                        háziállatot!
                    </p>
                    <ng-template #userTemplate>
                        <p class="text-center">
                            Válasszon ki a listából egy háziállatot!
                        </p>
                    </ng-template>
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>
<div class="add-button-container" *ngIf="selectedPetId">
    <button
        mat-fab
        extended
        color="accent"
        (click)="addCondition()"
        aria-label="Állapot hozzáadása"
    >
        <mat-icon>add</mat-icon>
        Állapot felvétele
    </button>
</div>
