@use '/src/styles/palette.scss' as colors;

mat-form-field {
    width: 100% !important;
    input {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
    }
}

.no-result-text {
    text-align: center;
    opacity: 0.3;
    font-weight: 600;
    font-size: 1rem;
    font-style: italic;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.pet-container:hover {
    background-color: rgba(colors.$petcare-accent, 0.1);
}

.view-button:hover {
    cursor: pointer;
}
